<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StatNotifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StatNotifier.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="threshold" serializeAs="String">
                <value>190</value>
            </setting>
            <setting name="exp1" serializeAs="String">
                <value>:Sorting.*[\r\n]*.*[\r\n]*.*[\r\n]*.*:0eps</value>
            </setting>
            <setting name="exp2" serializeAs="String">
                <value>:Ready</value>
            </setting>
            <setting name="exp3" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="removeSpace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="accumlate1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="accumlate2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="accumlate3" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="script1" serializeAs="String">
                <value>//mouse move 100,100
mm100,100
// mouse click left
ml
// wait time 3.5 sec
wt3.5
// text send abc
ts"abc"
//in one line
mm100,100;ml;wt3.5;st"abc"
</value>
            </setting>
            <setting name="script2" serializeAs="String">
                <value>//</value>
            </setting>
            <setting name="script3" serializeAs="String">
                <value>//</value>
            </setting>
            <setting name="script4" serializeAs="String">
                <value>//</value>
            </setting>
            <setting name="watcherPos" serializeAs="String">
                <value>50, 50</value>
            </setting>
            <setting name="watcherSize" serializeAs="String">
                <value>210, 105</value>
            </setting>
            <setting name="samplePeriod" serializeAs="String">
                <value>5000</value>
            </setting>
        </StatNotifier.Properties.Settings>
    </userSettings>
</configuration>